<div>
    <h1 style = "margin:0px 0px 0px 0px">Company Name is here</h1>
</div>
<button class = "btnLogout" >Logout</button>
<br><hr>
<div class = "menuBar" >
        <button class = "menubtn" routerLink = '/Home'>Home</button>
        <button class = "menubtn"  routerLink = '/Boxin'>Boxin</button>
        <button class = "menubtn" routerLink = '/Start'>Start</button>
        <button class = "menubtn"  routerLink = '/Search'>Search</button>
        <button class = "menubtn" routerLink = '/Report'>Report</button>
        <!-- <button class = "menubtn"  routerLink = '/Boxin'>Boxin</button> -->
            
    <!-- <router-outlet></router-outlet> -->
    
</div>

<router-outlet></router-outlet>
